# Python
__pycache__/
*.py[cod]
*$py.class
*.so

runtime/

Radmin/

# IDE
.idea/
.vs/
*.sln
*.suo
*.user

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# Temp files
*.part
*.tmp

# Received files directory
downloads/
dist/
build/
